body {
background-image: url("./images/bg-mobile.svg");
background-color: hsl(257, 40%, 49%);
background-position: top;
background-repeat: no-repeat;
background-size: 100%;
color: white;
font-family: 'Poppins';
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url("./images/bg-desktop.svg");
    background-position: left top;
    background-size: 95%;
  }
}



/* ======= LOGO  =======*/

.logo img {
  width: 120px;
  padding: 8% 0 0 8%;
}

@media only screen and (min-width: 1440px) {
  .logo img {
    width: 15%;
    padding: 3% 0 0 5%;
  }
}


/* ======= CONTENT  =======*/


.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 23px;
  line-height: 1.4;
}

@media only screen and (min-width: 1440px) {
  .content {
    display: grid;
    flex-flow: none;
    grid-template-columns: 720px 720px;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
  }
}


.illustration {
  display: flex;
  padding: 14% 8% 0 8%;
}

@media only screen and (min-width: 1440px) {
  .illustration {
    padding: 0 0 0 0;
    display: block;
    margin-top: 12%;
    margin-left: 10%;
  }
}


.illustration img {
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  .illustration img {
    width: 730px;
  }
}

.text {
padding: 11% 8% 0 8%;
}

@media only screen and (min-width: 1440px) {
  .text {
  padding: 0 14% 9% 18%;
  }
}


p {
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 200;
line-height: 1.4;
}

h1 {
  font-size: 24px;
  line-height: 1.5;
}




@media only screen and (min-width: 1440px) {
  p {
  font-size: 16px;
  font-weight: 200;
  }

  h1 {
    font-size: 38px;
    padding-right: 50px;
    line-height: 1.5;
  }
}


/* ======= BUTTON  =======*/

.button {
  font-size: 12px;
  margin-top: 6%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }


   .button:link, .button:visited {
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
  }


   .button:hover, .button:active {
    background-color: hsl(300, 69%, 71%);
    color: white;
  }



  @media only screen and (min-width: 1440px) {

    .button {
      margin-top: 2%;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }


       .button:link, .button:visited {
        background-color: white;
        color: hsl(257, 40%, 49%);
        padding: 15px 75px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 50px;
      }


       .button:hover, .button:active {
        background-color: hsl(300, 69%, 71%);
        color: white;
      }

  }



/* ======= SOCIAL MEDIA  =======*/


.fab {
  font-size: 14px;
  width: 6%;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 100px;
  padding: 6px 2px;
}

.fab:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

.social {
  margin-top: 17%;
  text-align: center;
  width: 100%;
  margin-bottom: 12%;
}

.fa-facebook-f {
margin-right: 14px;
}

.fa-twitter {
margin-right: 14px;
}

.fa-instagram {
margin-right: 14px;
}


@media only screen and (min-width: 1440px) {
  .fab {
    font-size: 20px;
    width: 2%;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px 5px;
  }

  .fab:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
  }

  .social {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fa-facebook-f {
  margin-right: 12px;
  }

  .fa-twitter {
  margin-right: 12px;
  }

  .fa-instagram {
  margin-right: 5%;
  }
}


/* ======= FOOTER  =======*/
